[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
Django = "*"
django-extensions = "*"
factory-boy = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"
django-tables2 = "*"
whitenoise = "*"
gunicorn = "*"
django-filter = "*"
django-material = "*"
django-sesame = "*"
ua-parser = "*"

[requires]
python_version = "3.7"
