{% load i18n %}

<div class="flex pb-5 justify-center">
  {% if not filter.data.type %}
  <span
    class="flex bg-gray-600 font-bold text-xs text-white border-gray-600 border-2 rounded-full p-1 px-2 mx-1">{% trans "ALL" %}</span>
  {% else %}
  <a href="?type=">
    <span
      class="flex bg-hospitalaid-grayblue text-xs text-gray-600 border-gray-600 border-2 font-bold text-white rounded-full p-1 px-2 mx-1">{% trans "ALL" %}</span>
  </a>
  {% endif %}
  {% if filter.data.type == "supply" %}
  <span
    class="flex bg-blue-900 font-bold text-xs text-white border-blue-900 border-2 rounded-full p-1 px-2 mx-1">{% trans "SUPPLY" %}</span>
  {% else %}
  <a href="?type=supply">
    <span
      class="flex bg-hospitalaid-grayblue text-xs text-blue-800 border-blue-800 border-2 font-bold text-white rounded-full p-1 px-2 mx-1">{% trans "SUPPLY" %}</span>
  </a>
  {% endif %}
  {% if filter.data.type == "repair" %}
  <span
    class="flex bg-red-500 font-bold text-xs text-white border-red-500 border-2 rounded-full p-1 px-2 mx-1">{% trans "REPAIR" %}</span>
  {% else %}
  <a href="?type=repair">
    <span
      class="flex bg-hospitalaid-grayblue text-xs text-red-500 border-red-500 border-2 font-bold text-white rounded-full p-1 px-2 mx-1">{% trans "REPAIR" %}</span>
  </a>
  {% endif %}
</div>
