<div class="fixed inset-0 z-50 overflow-auto flex">
  <div class="absolute w-full h-full bg-hospitalaid-blue-light opacity-75"></div>
  <div class="relative p-8 bg-hospitalaid-grayblue w-full max-w-md m-auto flex-col rounded-lg text-center">
    {% if image %}
    <div class="m-3">
      <img class="mx-auto" src="{{ image }}" alt="icon">
    </div>
    {% endif %}
    <h1 class="text-lg font-bold">{{ title }}</h1>
    <p class="py-3">
      {{ text }}
    </p>
    {% if yes %}
    <form action="{{ yes_href }}" method="post">
      {% csrf_token %} 
      {% include "includes/button.html" with color="red" label=yes %}
    </form>
    {% endif %}
    {% if no %}
    <a class="text-blue-700 font-bold" href="{{ no_href }}">{{ no }}</a>
    {% endif %}
  </div>
</div>

