{% extends "base.html" %}

{% block content %}
<h1 class="text-3xl">
  {% if object %}
    Modify this request
  {% else %}
    Create a new request
  {% endif %}
</h1>
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <div>
        <label class="block text-gray-700 text-sm font-bold mb-2">
          {{ field.label }}
        </label>
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit" class="bg-red-500 hover:bg-red-700 py-2 px-4 mx-4 my-4 text-white">
        Submit
    </button>
</form>
{% endblock content  %}
