{% extends "base.html" %}
{% load static %}

{% block nav2 %}
<nav class="flex bg-hospitalaid-blue-dark p-3 text-white">
    <div class="p-3">
      <a href="{% url "aidrequestfordonor_list" %}">
        <img src="{% static "images/back-arrow.svg" %}" alt="Back" />
      </a>
    </div>
    <div class="flex-grow">
      <h1 class="text-3xl text-center font-bold">{{ object.comments }}</h1>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="p-8">
  {% include "includes/aidrequest_detail_fields.html" %}
</div>

  <div class="bg-hospitalaid-blue-light p-6 px-12 text-white">
    <div class="flex font-bold">
      <div class="flex-grow">
        <div>
          MANAGER
        </div>
        <div>
          {{ object.hospital.user.full_name}}
        </div>
      </div>
      <div class="flex-grow text-right">
        <div>
          PHONE
        </div>
        <div>
          {{ object.hospital.user.phone }}
        </div>
      </div>
    </div>
    {% include "includes/button-link.html" with color="red" href="#" label="Call XXX to help" %}
  </div>
{% endblock content %}
