{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block nav2 %}
<nav class="flex bg-hospitalaid-blue-dark p-3 text-white">
    <div class="p-3">
      <a href="{% url "aidrequestforhospital_list" %}">
        <img src="{% static "images/back-arrow.svg" %}" alt="Back" />
      </a>
    </div>
    <div class="flex-grow">
      <h1 class="text-3xl text-center font-bold">{{ object.equipment_type }}</h1>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="p-8">
  {% include "includes/aidrequest_detail_fields.html" %}

  <div class="p-3 mt-6">
  {% url 'aidrequest_update' object.id as update %}
  {% include "includes/button-link.html" with color="blue" href=update label="Edit" %}
  {% url 'aidrequest_delete' object.id as delete %}
  {% include "includes/button-link.html" with color="red" href=delete label="Delete" %}
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
  {% if object.status == "unassigned" %}
    setStatusOnClick1();
  {% endif %}

  {% if object.status == "in_progress" %}
    setStatusOnClick2();
  {% endif %}

  {% if object.status == "closed" %}
    setStatusOnClick3();
  {% endif %}

  function setStatusOnClick1() {
    /* document.getElementById('id_status').value = "unassigned"; */
    document.getElementById('id_unassigned').style.color = "#ffffff";
    document.getElementById('id_unassigned').style.backgroundColor = "#ff5959";
    document.getElementById('id_unassigned').style.borderColor = "#ff5959";
    document.getElementById('id_in_progress').style.color = "#0f3476";
    document.getElementById('id_in_progress').style.backgroundColor = "#f0fbff";
    document.getElementById('id_in_progress').style.borderColor = "#bfc5cf";
    document.getElementById('id_closed').style.color = "#808da0";
    document.getElementById('id_closed').style.backgroundColor = "#f0fbff";
    document.getElementById('id_closed').style.borderColor = "#bfc5cf";
  }

  function setStatusOnClick2() {
    /* document.getElementById('id_status').value = "in_progress"; */
    document.getElementById('id_unassigned').style.color = "#ff5959";
    document.getElementById('id_unassigned').style.backgroundColor = "#f0fbff";
    document.getElementById('id_unassigned').style.borderColor = "#bfc5cf";
    document.getElementById('id_in_progress').style.color = "#fffeff";
    document.getElementById('id_in_progress').style.backgroundColor = "#0f3476";
    document.getElementById('id_in_progress').style.borderColor = "#0f3476";
    document.getElementById('id_closed').style.color = "#808da0";
    document.getElementById('id_closed').style.backgroundColor = "#f0fbff";
    document.getElementById('id_closed').style.borderColor = "#bfc5cf";
  }

  function setStatusOnClick3() {
    /* document.getElementById('id_status').value = "closed"; */
    document.getElementById('id_unassigned').style.color = "#ff5959";
    document.getElementById('id_unassigned').style.backgroundColor = "#f0fbff";
    document.getElementById('id_unassigned').style.borderColor = "#bfc5cf";
    document.getElementById('id_in_progress').style.color = "#0f3476";
    document.getElementById('id_in_progress').style.backgroundColor = "#f0fbff";
    document.getElementById('id_in_progress').style.borderColor = "#bfc5cf";
    document.getElementById('id_closed').style.color = "#fffeff";
    document.getElementById('id_closed').style.backgroundColor = "#808da0";
    document.getElementById('id_closed').style.borderColor = "#808da0";
  }
</script>
{% endblock js %}