{% extends "base.html" %}
{% load material_form %}

{% block content %}
  <h3>{{ object.get_type_display }} request</h3>
  <p>created at {{ object.created_at }}</p>

  <p>comments: {{ object.details }}</p>
  <a class="btn" href="{% url 'aidrequest_update' object.id %}">Modify</a>
  <form action="{% url 'aidrequest_close' object.id %}" method="post">
    {% csrf_token %}
    <button class="btn" type="submit">Close</button>
  </form>
  <a class="btn" href="{% url 'aidrequest_delete' object.id %}">Delete</a>
{% endblock content %}
