{% extends "base.html" %}
{% load static %}

{% block nav2 %}
<nav class="flex bg-hospitalaid-blue-dark p-3 text-white">
    <div class="p-3">
      <a href="{% url "aidrequestforhospital_list" %}">
        <img src="{% static "images/back-arrow.svg" %}" alt="Back" />
      </a>
    </div>
    <div class="flex-grow">
      <h1 class="text-3xl font-bold">
        {% if object %}
        Edit request
        {% else %}
        Add a new request
        {% endif %}
      </h1>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="p-8">
  <form method="POST">
      {% csrf_token %}
      {% include "includes/form.html" %}
      {% if object %}
        {% include "includes/button.html" with color="red" label="Save changes" %}
      {% else %}
        {% include "includes/button.html" with color="red" label="Add request" %}
      {% endif %}
  </form>
</div>
{% endblock content %}
