{% extends "base.html" %}
{% load humanize %}
{% load material_form %}

{% block content %}
  <h2>Active aid requests</h2>
  <a class="btn" href="{% url 'hospitalfordonor_list' %}">Map View</a>
  <div class="card-deck">
    {% for object in object_list %}
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ object.get_type_display }}</h5>
          <p class="card-text">{{ object.details|truncatechars:80 }}</p>
          <p class="card-text">{{ object.hospital.name }}</p>
          <p class="card-text">{{ object.hospital.address }}, {{ object.hospital.city}}</p>
          <p class="card-text">{{ object.updated_at|naturaltime }}</p>
          <a class="btn" href="{% url 'aidrequestfordonor_detail' object.id %}">Open</a>
        </div>
      </div>
    {% empty %}
      <p>No aidrequests</p>
    {% endfor %}
  </div>
{% endblock content %}
