{% extends "base.html" %}
{% load humanize %}
{% load material_form %}

{% block content %}
  <h2>Active aid requests</h2>
  <a class="btn" href="{% url 'hospitalfordonor_list' %}">Map View</a>
  <div class="card-deck">
    {% for object in object_list %}
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ object.get_type_display }}</h5>
          <p class="card-text">{{ object.details|truncatechars:80 }}</p>
          <p class="card-text">{{ object.hospital.name }}</p>
          <p class="card-text">{{ object.hospital.address }}, {{ object.hospital.city}}</p>
          <p class="card-text">{{ object.updated_at|naturaltime }}</p>
        </div>
      </div>
      {% if forloop.counter|divisibleby:2 %}
        <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
      {% endif %}
      {% if forloop.counter|divisibleby:3 %}
        <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
      {% endif %}
      {% if forloop.counter|divisibleby:4 %}
        <div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
      {% endif %}
      {% if forloop.counter|divisibleby:5 %}
        <div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>
      {% endif %}
    {% empty %}
      <p>No aidrequests</p>
    {% endfor %}
  </div>
{% endblock content %}
