{% extends "base.html" %}
{% load humanize %}
{% load material_form %}

{% block content %}
  <h1 class="text-3xl pb-4">Hello {{ request.user.first_name }}</h1>
  <div class="pb-4">
    <span class="text-2xl">Requests you created</span>
    <a class="bg-red-500 hover:bg-red-700 py-2 px-4 mx-4 my-4 text-white" href="{% url 'aidrequest_create' %}">+ New request</a>
  </div>
  <div class="pt-4">
    {% for object in object_list %}
      <div class="mb-2 border-l-8 border border-blue-300 p-4">
        <p class="pb-2 font-bold">{{ object.get_type_display }}</p>
        <p class="pb-2">{{ object.details|truncatechars:80 }}</p>
          {% if object.closed %}
          CLOSED
          {% else %}
          <a class="bg-red-500 hover:bg-red-700 py-2 px-4 text-white" href="{% url 'aidrequestforhospital_detail' object.id %}">See</a>
          {% endif %}
        <p class="pt-2 text-right">{{ object.updated_at|naturaltime }}</p>
      </div>
    {% empty %}
      <p>You have not added any requests yet</p>
    {% endfor %}
  </div>
{% endblock content %}
