{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}

{% block nav2 %}
<nav class="flex bg-hospitalaid-blue-dark p-3 text-white">
  <div class="p-3">
    <a href="javascript:history.back()">
      <img src="{% static "images/back-arrow.svg" %}" alt="Back" />
    </a>
  </div>
  <div class="flex-grow">
    <h1 class="text-2xl md:text-3xl text-center font-bold">{{ object.title }}</h1>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="p-8">
  {% include "includes/aidrequest_detail_fields.html" %}
</div>

<div class="bg-hospitalaid-blue-light p-6 px-12 text-white">
  <div class="flex font-bold">
    <div class="flex-grow">
      <div class="text-xs">
        {% trans "MANAGER" %}
      </div>
      <div>
        {{ object.hospital.user.get_full_name}}
      </div>
    </div>
    <div class="flex-grow text-right">
      <div class="text-xs">
        {% trans "PHONE" %}
      </div>
      <div>
        {{ object.hospital.user.phone }}
      </div>
    </div>
  </div>
  <div class="flex-grow flex-col justify-center w-full">
    {% static "images/heart.svg" as heart_icon %}
    {% with "tel:"|add:object.hospital.user.phone as tel_url %}
    {% trans "Call to help" as label %}
    {% include "includes/button-link.html" with image=heart_icon color="red" href=tel_url label=label %}
    {% endwith %}
  </div>
</div>
{% endblock content %}
