{% extends "base.html" %}
{% load humanize %}

{% block nav2 %}
<nav class="flex bg-hospitalaid-blue-dark p-3 text-white">
    <div class="p-3">
      <a href="{% url "aidrequestforhospital_list" %}">
        Back
      </a>
    </div>
    <div class="flex-grow">
      <h1 class="text-3xl font-bold">{{ object.comments }}</h1>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="p-8">
  {% include "includes/aidrequest_detail_fields.html" %}

  <div class="p-3 mt-6">
  {% url 'aidrequest_update' object.id as update %}
  {% include "includes/button-link.html" with color="blue" href=update label="Edit" %}
  {% url 'aidrequest_delete' object.id as delete %}
  {% include "includes/button-link.html" with color="red" href=delete label="Delete" %}
  </div>
</div>
{% endblock content %}
