{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% load i18n %}

{% block nav2 %}
<nav class="flex bg-hospitalaid-blue-dark p-3 text-white">
    <div class="flex-grow">
      <h1 class="text-3xl text-center font-bold">
        {% trans "Your requests" %}
      </h1>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="p-8">
  <div class="card-deck">
    {% if filter.qs %}
      {% include "includes/aidrequest_filtertypes.html" %}
    {% endif %}
    {% for object in filter.qs %}
    <a href="{% url 'aidrequestforhospital_detail' object.id %}">
      <div class="flex mb-3 bg-white-light rounded-lg shadow-lg border-l-8 hover:bg-gray-200
        {% if object.type == "supply" %}
        border-blue-900
        {% endif %}
        {% if object.type == "repair" %}
        border-red-500
        {% endif %}
        p-4">
        <div class="flex-grow">
          <p class="pb-2 font-bold">{{ object.title|truncatechars:80 }}</p>
          <p class="text-gray-500 fnt-rh-reg">{{ object.updated_at|naturaltime }}</p>
        </div>
        <div class="p-6">
          <span class="text-white bg-gray-600 font-bold rounded p-1">
            {{ object.quantity|intcomma }}
          </span>
        </div>
      </div>
    </a>
    {% empty %}
    <div class="text-lg text-center font-bold">
      You currently have no
    </div>
    <div class="text-lg text-center font-bold">
      created requests
    </div>
    <div class="my-8 text-center fnt-rh-reg">
        Click the button below to add a new request.
    </div>
    <div class="my-8 flex justify-center mx-auto">
      <img src="{% static "images/ill-placeholder.svg" %}" alt="logo" />
    </div>
    {% endfor %}
  </div>

  {% url 'aidrequest_create' as create %}
  {% include "includes/button-link.html" with color="red" href=create label="Add a new request" %}
</div>
{% endblock content %}
