{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block nav2 %}
<nav class="flex bg-hospitalaid-blue-dark p-3 text-white">
    <div class="p-3">
      <a href="javascript:history.back()">
        <img src="{% static "images/back-arrow.svg" %}" alt="Back" />
      </a>
    </div>
    <div class="flex-grow">
      <h1 class="text-3xl text-center font-bold">
        {% if object %}
        {% trans "Edit request" %}
        {% else %}
        {% trans "Add a new request" %}
        {% endif %}
      </h1>
    </div>
</nav>
{% endblock %}

{% block content %}

<div class="p-8">
  <form method="POST">
    {% csrf_token %}

    <div class="flex pb-8">
      <div id="id_supply_box" class="mr-4 w-40 rounded-lg shadow-lg focus:outline-none" tabindex="0" onclick="setSupplyOnClick()">
        <div id="id_supply_box1" class="flex justify-center items-center bg-hospitalaid-blue-light rounded-t-lg h-8">
          <h1 class="tracking-wide font-bold text-white">{% trans "SUPPLY" %}</h1>
        </div>
        <div id="id_supply_box2" class="flex justify-center bg-white-light cursor-pointer hover:bg-gray-200 rounded-b-lg h-16">
          <img src="{% static "images/supply.svg" %}" alt="supply" />
        </div>
      </div>
      <div id="id_repair_box" class="w-40 rounded-lg shadow-lg focus:outline-none" tabindex="1" onclick="setRepairOnClick()">
        <div id="id_repair_box1" class="flex justify-center items-center bg-hospitalaid-red rounded-t-lg h-8">
          <h1 class="tracking-wide font-bold text-white">{% trans "REPAIR" %}</h1>
        </div>
        <div id="id_repair_box2" class="flex justify-center bg-white-light cursor-pointer hover:bg-gray-200 rounded-b-lg h-16">
          <img src="{% static "images/repair.svg" %}" alt="repair" />
        </div>
      </div>
    </div>

    {% include "includes/form.html" %}
    {% if object %}
      {% trans "Save changes" as label %}
      {% include "includes/button.html" with color="red" label=label %}
    {% else %}
      {% trans "Add request" as label %}
      {% include "includes/button.html" with color="red" label=label %}
    {% endif %}
  </form>
</div>
{% endblock content %}

{% block js %}
<script>
  {% if form.type.value == "supply" %}
    setSupplyOnClick();
  {% endif %}

  {% if form.type.value == "repair" %}
    setRepairOnClick();
  {% endif %}

  {% if not object %}
    setSupplyOnClick();
  {% endif %}

  function setSupplyOnClick() {
    document.getElementById('id_type').value = "supply";
    document.getElementById('id_supply_box').style.borderWidth  = "2px";
    document.getElementById('id_supply_box1').style.height      = "29px";
    document.getElementById('id_supply_box2').style.height      = "62px";
    document.getElementById('id_supply_box').style.borderColor  = "#0f3476";
    document.getElementById('id_supply_box').style.borderRadius = "12px";
    document.getElementById('id_repair_box').style.borderWidth  = "0px";
    document.getElementById('id_repair_box1').style.height      = "32px";
    document.getElementById('id_repair_box2').style.height      = "64px";
  }

  function setRepairOnClick() {
    document.getElementById('id_type').value = "repair";
    document.getElementById('id_repair_box').style.borderWidth  = "2px";
    document.getElementById('id_repair_box1').style.height      = "29px";
    document.getElementById('id_repair_box2').style.height      = "62px";
    document.getElementById('id_repair_box').style.borderColor  = "#ff5959";
    document.getElementById('id_repair_box').style.borderRadius = "12px";
    document.getElementById('id_supply_box').style.borderWidth  = "0px";
    document.getElementById('id_supply_box1').style.height      = "32px";
    document.getElementById('id_supply_box2').style.height      = "64px";
  }
</script>
{% endblock js %}
