{% extends "base.html" %}
{% load static %}
{% load l10n %}

{% block styles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""/>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">

<link rel="stylesheet" href="{% static "/css/map.css" %}">
{% endblock styles %}

{% block nav2 %}
<nav class="flex bg-hospitalaid-blue-dark p-3 text-white">
  <span class="flex-grow whitespace-no-wrap self-center text-3xl font-bold">Aid requests</span>
  <a class="flex flex-shrink-0 self-center" href="{% url 'aidrequestfordonor_list' %}">
    <div class="p-2 rounded-full border-2">
      <img class="" src="{% static "images/list-white.svg" %}" alt="list">
    </div>
  </a>
  <div class="flex flex-shrink-0 p-4 ml-2 rounded-full bg-white">
    <img src="{% static "images/map-blue.svg"  %}" alt="map">
  </div>
</nav>
{% endblock %}

{% block content %}
<template id="id_map_popup">
  <a id="id_hospital_link" class="flex px-3 justify-center items-center border-lg h-10" href="#">
    <span class="flex-grow font-bold text-white" id="id_hospital_name"></span>
    <img src="{% static "images/forward-arrow-white.svg" %}" alt="" />
  </a>
  <div class="flex text-center font-bold bg-white py-3 rounded-b-lg h-16">
    <div class="w-1/2 px-2 border-l-8 border-hospitalaid-blue-light">
      <span id="id_supply" class="flex justify-center text-3xl fg-hospitalaid-black"></span>
      <span class="flex justify-center text-sm text-gray-500 tracking-widest leading-normal">SUPPLY</span>
    </div>
    <div class="border border-hospitalaid-gray-light">
    </div>
    <div class="w-1/2 px-2 border-r-8 border-hospitalaid-red">
      <span id="id_repair" class="flex justify-center text-3xl fg-hospitalaid-black"></span>
      <span class="flex justify-center text-sm text-gray-500 tracking-widest leading-normal">REPAIR</span>
    </div>
  </div>
</template>

<div id="id_map"></div>
{% endblock content %}

{% block js %}
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
<script charset="utf-8">
  var map_data = [
      {% for hospital in object_list %}
      {
          name: "{{ hospital.name }}",
          town: "{{ hospital.city }}",
          country: "{{ hospital.country }}",
          latitude: {{ hospital.latitude|default:0.0|unlocalize }},
          longitude: {{ hospital.longitude|default:0.0|unlocalize }},
          text: "{% for aid in hospital.aidrequest_set.all %}{{ aid }}{% endfor %}",
          link: "{% url 'hospitalfordonor_detail' hospital.id %}",
          supply_count: "{{ hospital.aidrequest_supply_count }}",
          repair_count: "{{ hospital.aidrequest_repair_count }}",
      },
      {% endfor %}
  ]
</script>
<script src="{% static "/js/map.js" %}"></script>
{% endblock js %}
