{% extends "base.html" %}
{% load static %}
{% load l10n %}

{% block styles %}
    <link rel="stylesheet" href="{% static "/css/leaflet.css" %}">
    <link rel="stylesheet" href="{% static "/css/main.css" %}">
{% endblock styles %}

{% block nav2 %}
<nav class="flex bg-hospitalaid-blue-dark p-3 text-white">
    <div class="flex-grow">
      <h1 class="p-3 text-3xl font-bold">Aid requests</h1>
    </div>
    <div class="p-5 my-2 rounded-full">
      <a href="{% url 'aidrequestfordonor_list' %}">
        <img src="{% static "images/list-white.svg" %}" alt="list">
      </a>
    </div>
    <div class="p-5 my-2 rounded-full bg-white">
      <img src="{% static "images/map-blue.svg"  %}" alt="map">
    </div>
</nav>
{% endblock %}

{% block content %}
<template id="map-popup">
  <div class="rounded-lg">
    <div class="flex bg-blue-900 p-2 px-4 font-bold text-white">
      <div class="flex-grow" id="hospitalname">
      </div>
      <div>
        <a id="hospitallink" style="color: white" href="#">
          &gt;
        </a>
      </div>
    </div>
    <div class="flex text-center font-bold py-2 bg-white">
      <div class="w-1/2 border-l-8 border-red-300 p-2 px-4">
        <div class="text-3xl" id="repair">
        </div>
        <div class="text-lg text-gray-500">
          REPAIR
        </div>
      </div>
      <div class="w-1/2 border-r-8 border-blue-300 p-2 px-4">
        <div class="text-3xl" id="supply">
        </div>
        <div class="text-lg text-gray-500">
          SUPPLY
        </div>
      </div>
    </div>
  </div>
</template>
<div id="map"></div>
{% endblock content %}

{% block js %}
    <script src="{% static "/js/leaflet.js" %}"></script>
    <script charset="utf-8">
      var map_data = [
        {% for h in object_list %}
        {
          name: "{{ h.name }}",
          town: "{{ h.city }}",
          country: "{{ h.country }}",
          latitude: {{ h.latitude|default:0.0|unlocalize }},
          longitude: {{ h.longitude|default:0.0|unlocalize }},
          text: "{% for aid in h.aidrequest_set.all %}<p>{{ aid }}</p>{% endfor %}",
          link: "{% url 'hospitalfordonor_detail' h.id %}",
        },
        {% endfor %}
      ]
    </script>
    <script src="{% static "/js/main.js" %}"></script>
{% endblock js %}
