{% extends "base.html" %}
{% load humanize %}

{% block nav2 %}
<nav class="flex bg-hospitalaid-blue-dark p-3 text-white">
    <div class="p-3">
      <a href="{% url "hospitalfordonor_list" %}">
        Back
      </a>
    </div>
    <div class="flex-grow">
      <h1 class="text-3xl font-bold">{{ object.name }}</h1>
      <h2 class="">{{ object.address}}, {{ object.city }}</h2>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="p-8">
  <div class="card-deck">
    {% for aid in object.aidrequest_set.all %}
    <a href="{% url 'aidrequestfordonor_detail' aid.id %}">
      <div class="flex mb-3 bg-white rounded-lg shadow-lg border-l-8 border-blue-300 p-4">
        <div class="flex-grow">
          <p class="pb-2 font-bold">{{ aid.comments|truncatechars:80 }}</p>
          <p class="text-gray-500 fnt-rh-reg">{{ aid.updated_at|naturaltime }}</p>
        </div>
        <div class="p-6">
          <span class="text-white bg-gray-600 font-bold rounded p-1">
            {{ aid.equipment_quantity|default:1 }}
          </span>
        </div>
      </div>
    </a>
    {% empty %}
    <p>No requests yet</p>
    {% endfor %}
  </div>
</div>
{% endblock content %}
