{% extends "base.html" %}
{% load static %}

{% block nav2 %}
<nav class="flex bg-hospitalaid-blue-dark p-3 text-white">
  {% if request.user.first_name %}
    <div class="p-3">
      <a onclick="window.history.go(-1)">
        <img src="{% static "images/back-arrow.svg" %}" alt="Back" />
      </a>
    </div>
    <div class="flex-grow">
      <h1 class="text-3xl text-center font-bold">
        Edit account
      </h1>
    </div>
  {% else %}
    <div class="flex-grow">
      <h1 class="text-3xl font-bold">Welcome</h1>
    </div>
  {% endif %}
</nav>
{% endblock %}

{% block content %}
<div class="p-8">
  <form method="POST">
      {% csrf_token %}
      {% include "includes/form.html" %}
        {% if request.user.first_name %}
          {% include "includes/button.html" with color="red" label="Save changes" %}
        {% else %}
          {% include "includes/button.html" with color="red" label="Save details" %}
        {% endif %}
  </form>
</div>
{% endblock content  %}
