{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="https://cdn.tailwindcdn.com/1.1.4/tailwind.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block styles %}
    {% endblock styles %}
  </head>

  <body class="{% block css_body %} {% endblock %}">
    {% block nav %}
    <nav class="flex bg-blue-900 p-6 text-white">
        <div class="flex-grow">
          <a href="/" class="">
            <img src="{% static "images/logo.png" %}" alt="logo">
          </a>
        </div>
        {% if request.user.is_authenticated %}
        <div class="p-3">
          <a href="#">Logged in as {{ request.user.email }}</a>
        </div>
        <div class="p-3">
          <a href="{% url "logout" %}?next=/">Logout</a>
        </div>
        {% endif %}
    </nav>
    {% endblock %}

    <main class="p-8">
      {% block content %}
      {% endblock %}
    </main>

    <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  {% if DEBUG %}
  <script src="http://localhost:35729/livereload.js"></script>
  {% endif %}

  {% block js %}
  {% endblock js %}
  </body>
</html>
