{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">

        <title>HospitalAid</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">HospitalAid</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "aidrequest_list" %}">Aid requests</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "aidresponse_forme_list" %}">Responses for me</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Other
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url "hospital_list" %}">Hospitals</a>
                          </div>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav">
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logged in as {{ request.user.email }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "logout" %}?next=/">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "login" %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "signup" %}">Signup</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>

            </div>
        </nav>

        <div class="container mt-4">
            {% bootstrap_messages %}
            {% block content %}

            {% endblock content %}
        </div>

        <script src="{% static "/js/jquery.slim.min.js" %}"></script>
        <script src="{% static "/js/popper.min.js" %}"></script>
        <script src="{% static "/js/bootstrap.min.js" %}"></script>
    </body>
</html>
