{% extends "base.html" %}
{% load static %}


{% block css_body %}
bg-indigo-900
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="container flex justify-center p-16 text-white font-sans">
  <div class="w-1/2">
    <div class="mx-auto text-center">
      <img src="{% static "images/logo-vertical.png" %}" alt="logo" />
    </div>
    <div class="text-2xl">
      Helping the world to address the COVID-19 pandemic
    </div>
    <div class="text-lg my-4" x-data="{ tab: 'home' }">
        <div x-show="tab === 'home'">
          <a class="block bg-red-500 hover:bg-red-700 py-2 px-4 mx-4 my-4" href="#" @click="tab = 'hospital'" role="button">I work at the hospital</a>
          <a class="block bg-red-500 hover:bg-red-700 py-2 px-4 mx-4 my-4" href="#" @click="tab = 'search'" role="button">I want to help</a>
        </div>
        <div x-show="tab === 'search'">
          <p>
            Welcome and thank you for your willingness to help.
          </p>
          <p>
          Enter your location (e.g. Rio de Janeiro or New York)
          </p>
          <form action="{% url "aidrequestfordonor_list" %}" method="get">
            <input type="text" name="hospital__city" value="">
            <button class="btn" type="submit">Search</button>
          </form>
        </div>
        <div x-show="tab === 'hospital'">
          <p class="text-center">
          To be able to login please enter the hospital email address you are working at. <br>
          Click on the link sent to the email you enter to be able to log in
          </p>
          <form action="{% url "signup" %}" method="post">
            {% csrf_token %}
            <input class="mx-4 my-4 w-full" type="text" name="email" value="">
            <button class="w-full bg-red-500 hover:bg-red-700 py-2 px-4 mx-4 my-4" type="submit">Send me log-in link</button>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock content  %}
