{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block nav %}
{% endblock %}

{% block content %}
<div class="container mx-auto flex flex-col justify-center md:h-screen">
  <a class="mt-5 mb-20 mr-5 self-end" href="{% url "language-home" %}">
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == "en" %}
    <img class="inline h-4" src="{% static "images/gb.svg" %}" alt="flag" />
    {% endif %}
    {% if LANGUAGE_CODE == "pt-br" %}
    <img class="inline h-4" src="{% static "images/br.svg" %}" alt="flag" />
    {% endif %}
  </a>
  <div class="flex-1 md:flex flex-col mb-auto">
    <div class="flex justify-center mb-10">
      <img src="{% static "images/logo-vertical.svg" %}" alt="logo" />
    </div>
    <div class="text-3xl md:text-6xl tracking-wide leading-none text-center fg-hospitalaid-blue-light font-bold mb-2">
      {% trans "HELPING<br/>THE WORLD" %}
    </div>
    <div class="text-lg md:text-2xl text-center fg-hospitalaid-blue-light mb-8 sm:break-all">
      {% trans "address the COVID-19<br/>pandemic" %}
    </div>
    <div class="flex flex-col justify-center mx-auto">
      {% url "signup" as signup %}
      {% static "images/plus.svg" as plus_icon %}
      {% trans "I work at the hospital" as label_mgr %}
      {% include "includes/button-link.html" with image=plus_icon color="blue" href=signup label=label_mgr %}
      {% url "aidrequestfordonor_list" as link %}
      {% static "images/heart.svg" as heart_icon %}
      {% trans "I want to help" as label_donor %}
      {% include "includes/button-link.html" with image=heart_icon color="red" href=link label=label_donor %}
    </div>
  </div>
  <div class="flex-col mx-auto justify-start mt-5">
    <img class="w-48 md:w-56" src="{% static "images/ill-placeholder.svg" %}" alt="" />
  </div>
</div>
{% endblock content %}
