{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block nav %}
{% endblock %}

{% block content %}
{% if request.GET.sent %}
  {% url 'signup' as signup %}
  {% static "/images/mail.svg" as icon %}
  {% include "includes/modal.html" with image=icon title="Login link email sent" text="An email containing the<br>login link was sent to you.<br>Click the link to log in." no="Dismiss" no_href=signup %}
{% endif %}
<div class="container flex justify-center mx-auto text-blue">
  <div class="w-1/2">
    <div class="my-8 flex justify-center mx-auto">
      <img src="{% static "images/logo-vertical.svg" %}" alt="logo" />
    </div>
    <div class="text-4xl text-center fg-hospitalaid-blue-light font-bold" style="line-height:1; letter-spacing: 1px">
      {% trans "HELPING THE WORLD" %}
    </div>
    <div class="text-2xl text-center fg-hospitalaid-blue-light">
      {% trans "address the COVID-19 pandemic" %}
    </div>
    <div class="text-lg my-8">
        <p class="text-center fnt-rh-reg">
        {% trans "To be able to login, please enter your hospital email address." %}
        </p>
    </div>
    <div class="text-lg my-8">
        <form action="{% url "signup" %}" method="post">
          {% csrf_token %}
          {% include "includes/form.html" %}
          {% trans "Send me the login link" as login_btn_txt %}
          {% include "includes/button.html" with color="red" label=login_btn_txt %}
        </form>
    </div>
  </div>
</div>
{% endblock content  %}
